<h1>Welcome to Death Locator</h1>
<p>Enter your IGN and REGION to find where you died in your last 10 games!</p>
<%= form_tag results_path, :method => 'get' do %>
    <%= text_field_tag :summoner, params[:summoner], class: 'input-medium' %>
    <%= select_tag(:region, options_for_select( [['NA','na'],['BR','br'],['EUNE','eune'],['EUW','euw'],['KR','kr'],['LAN','lan'],['LAS','las'],['OCE','oce'],['RU','ru'],['TR','tr']]), {class: "list-select"} )%>
    <%= submit_tag "Search", :name=>nil, :class=>"btn" %>
<% end %>
