/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.navbar-inverse {
	background-color: #333;
	border-color: #333;
}

.img-logo {
	margin-top: 0;
	margin-bottom: -15px;
	position: relative;
}

h1 {
	font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
    position: relative;
}

h2 {
	font-family: 'Roboto', sans-serif;
	margin-top: -10px;
    font-size: 16px;
    font-weight: light;
    position: relative;
}

.background {
	z-index: -1;
	position: absolute;
	min-height: 100%;
	min-width: 100%;
}
